backcall
certifi
chardet    
click
colorama  
decorator
Flask   
gunicorn 
idna        
itsdangerous
jedi
Jinja2
MarkupSafe
numpy
pandas --only-binary=:all:
parso
pickleshare
plotly
pygal
prompt-toolkit
Pygments
python-dateutil
pytz
pyzmq
requests
retrying
six
spotipy
tornado
urllib3
wcwidth
Werkzeug
